@charset "UTF-8";

@use "../mixin" as mixin;
@use "../config/variables" as variables;


// page-3.html// page-3.html// page-3.html// page-3.html

.buyer__top{
  width: auto;
  max-height: 650px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  @media screen and (max-width: 600px) {
      height: 350px;
      font-size: 18px;
  }
  &-txt{
      font-size:50px ;
      color: #fff;
      text-align: center;
      font-weight: 400;
      @media screen and (max-width: 600px) {
          font-size: 18px;
      }
  }

}

.buyer__section{
  &-txt{
      text-align: center;
      margin: 6rem 0;
      font-size: 1.6rem;
      @media screen and (max-width: 600px) {
          font-size: 14px;
      }
  }
  &-ttl{
      margin: 4.4rem auto;
      font-size: 3rem;
      font-weight: 600;
      width: 580px;
      padding-bottom: 3.2rem;
      border-bottom: 1px solid #000;
      text-align: center;
      @media screen and (max-width: 600px) {
          width: 100%;
      }
  }
  h2{
      text-align: center;
      font-size: 30px;
      @media screen and (max-width: 600px) {
          font-size: 16px;
          text-align: start;

      }
  }
  &-txt{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    @media screen and (max-width: 600px) {
        font-size: 13px;
    }
}
  &-content{
      display: flex;
      justify-content: space-between;

      img{
          width: 40.8rem;
          height: auto;    
      }
      &-buyer{
          padding: 0 40px;
          @media screen and (max-width: 600px) {
              padding: 0;
          }
          h3{
              font-size: 2rem;
              @media screen and (max-width: 600px) {
                  font-size: 14px;
              }
          }
          h4{
              font-size: 3rem;
              @media screen and (max-width: 600px) {
                  font-size: 16px;
              }
          }
      }
      p{
          margin-top: 2rem;
          font-size: 1.6rem;
          @media screen and (max-width: 600px) {
              font-size: 13px;
              margin-bottom: 20px;
          }
      }
  }
  
  &-content{
      display: flex;
      @media screen and (max-width: 600px) {
          flex-direction: column;
      }
      &-box{
        width: 38.2rem;
        height: auto;
        @media screen and (max-width: 600px) {
            width: 100%;
        }
        img{
            width: 38.2rem;
            height: auto;
            @media screen and (max-width: 600px) {
                width: 100%;
            }
        }
        h3{
            text-align: center;
            margin: 2.8rem 0;
            font-size: 3rem;
            @media screen and (max-width: 600px) {
                font-size: 14px;
                text-align: start;
            }
        }
        p{
            padding: 0;
        }
    }
  }
  &-samplelink{
    text-align: center;
    button{
        width: 23rem;
        height: 5.5rem;
        border-radius: 3rem;
        background-color: #fff;
        font-size: 1.6rem;
        @media screen and (max-width: 600px) {
            width: 174px;
            height: 50px;
            font-size: 16px;
            border-radius: 30px;
        }
    }
}
}

.buyer__content{
  margin-top: 90px;
  h2{
      text-align: center;
      font-size: 30px;
      color: #fff;
      padding-top: 50px;
  }
  &-bottle{
      width: 387px;
      height: 532px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
      z-index: 1;
  }
  &-sec{
      display: flex;
      color: #fff;
      // padding-bottom: 140px;
      &-txt{
          p{
              margin: 34px 50px 34px;

          }
      }
      
  }
  &-btn{
      display: flex;
      background-color: #C19632;
      justify-content: space-between;
      align-items: center;
      width: 819px;
      margin-top: 46px;
      &-txt{
          height: 87px;
          // width: 300px;
          margin-left: 50px;
          h3{
              font-size: 30px;
          }

          p{
              margin: 0px;
          }
      }
      button{
          border-radius: 30px;
          background-color: #C19632;
          border: 1px solid #fff;
          width: 230px;
          height: 55px;
          color: #fff;
          margin-right: 14px;
      }
  }
  &-img{
      display: flex;
      justify-content: flex-start;
      gap: 1.6rem;
      margin-left: 50px;
      img{
          width: 244px;
          height: 220px;
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
      }
  }
  &-color{
      color: #000;
  }
}

// page-3.html// page-3.html// page-3.html// page-3.html
