/*---------------------------------------------------------
BreakPoint
----------------------------------------------------------*/
$pc-wide: 1400px; // PC
$pc: 1200px; // PC
$pc-small: 1100px; // PC-small
$pc-small02: 1030px;
$pc-small-np: 1060px; // PC-small No padding
$tablet-big: 900px;
$nav-sub: 900px;
$tablet: 768px; // タブレット
$sp: 600px; // sp
$mobile: 375px; // sp

/*---------------------------------------------------------
color
----------------------------------------------------------*/
$baseColor: #fff;
$fontColor: #232323;
